.title {
  font-size: 3rem; /* tamnnho da fonte */
  font-weight: 700; /* peso da fonte */ 
  letter-spacing: 0.05em; /* espçamento das letras */
}

.image {
  height: 450px;
  object-fit: cover;
  border-radius: 0rem 10rem 0rem 0rem;
  /*sombra laranja difusa ao redor  */
  box-shadow: 0 0 40px 0 rgba(249, 71, 2, 0.4);
}

.typing {
  font-size: 1.5rem;
  text-transform: uppercase; /* transforma tudo em maiusculo */
  text-shadow: 1px 1px 2px #000; /* sombra no texto*/
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #f94702;
}
