* {
  outline: 1px solid red;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.description {
  max-width: 550px;
  margin: 0 auto;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.1em;
}

.portfolioStripe {
  display: inline-block;
  margin-right: 6rem;
  width: 100px;
  height: 6px;
  margin-bottom: 0.5rem;
  background-color: #f94702;
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 0 1rem;
  max-width: 100%;
  overflow-x: hidden;
}

.skillsGrid img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.skillsGrid img:hover {
  transform: scale(1.15);
}
