.title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.contactStripe {
  display: inline-block;
  width: 80px;
  height: 6px;
  margin-bottom: 0.5rem;
  margin-left: 6rem;
  margin-right: 0.5rem;
  background-color: #f94702;
}

.description {
  width: 78%;
  margin: 0 auto;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 0.1em;
}

.contactGrid {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.contactGrid img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.contactGrid img:hover {
  transform: scale(1.15);
  filter: brightness(1.2);
}

p {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}