:root {
    --navbar-hover-color: #f94702;
    --background-color: #282828;
    --background-color-button: #444649;
    --color-button: #f2f2f2;
}

.portfolioStripe {
    width: 80px;
    height: 6px;
    background-color: #f94702;
    box-shadow: 0 0 6px rgba(249, 71, 2, 0.5)
}

.buttonLink {
    color: var(--color-button);
    margin: 0 1rem;
    border-radius: 10px;
    background-color: var(--background-color-button);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonLink:hover {
    background-color: var(--navbar-hover-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}