.image {
  height: 450px;
  object-fit: cover;
  border-radius: 0rem 10rem 0rem 0rem;
  box-shadow: 0 0 40px 0 rgba(249, 71, 2, 0.4);  /*sombra laranja difusa ao redor  */
} 

.title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.subTitle {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.1em;
}

.portfolioStripe {
  display: inline-block;
  width: 100px;
  height: 10px;
  background-color: #f94702;
}

